
.loginInput {
    text-align: center; 
    margin-bottom: 10px;
    display: grid; 
}

.loginButton {
    text-align: center; 
}
.login-container *{
    margin-bottom: 10px;
}

#logVal {
    margin-left: 10px; 
    border-radius: 3px; 
}

#logVal:hover {
    background-color: lightgrey; 
}

#passVal {
    margin-left: 10px; 
    border-radius: 3px; 
}

#passVal:hover {
    background-color: lightgrey; 
}