body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.input {
    margin-bottom: 15px;
    text-align: left;
}

.input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.input input:hover {
    background-color: lightgrey;
}

.input input:focus {
    border-color: #007BFF;
    outline: none;
}

.submit-button {
    text-align: center; 
    margin-top: 15px; 
}

.submit-button button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px; 
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button button:hover {
    background-color: #0056b3;
}

.inputbutton{
    text-align: center;
}