*{
    margin: 0 auto;
}

section{
    --main-bg-color: #82DEB0;
    --menubar-login-button-color: #022F40;
    --footer-color: #3fc1f0;
    --input-label-color: #F4D35E;

    
    padding: 0 8vh 0 0;
}


body, #root{
    background-color: #82DEB0;
    height: 100vh;
    width: 100vw;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}


.menu{
    height: 15vh;
    width: 100vw;
    background-color: #022F40;
    display: flex; 
    align-items: center;
    overflow: hidden;
    
    
    
}

#menu-items{
    list-style: none;
    display: flex;
    gap: 3vw;
    margin-left: 72vw;
}



#logo {
    
    height: 18vh;
    border-radius: 100%;
    float: left;
    margin: 0;
    padding: 1.5vw;

  
}

.menu-items {
    float:right;
}

main{
display: flex;
padding: 6vh 8vw;
flex: 1;

}

.map iframe{
    width: 100vw;
    height: 100vh;
}

section h1 {
    font-size: 3vw;
    margin-bottom: 3vh;
}

section p {
    font-size: 1.25vw;
    margin-bottom: 3vh;

}
 
footer{
    display: flex;
    background-color: #022F40;
    width: 100vw;
    margin-top: auto;
    
    
}

footer div{
    margin-left: 8vw;
}

footer div h2{
    font-size: 2vw;
}

footer div ul {
    display: flex;
    gap: 1vw; 
    list-style: none;
    margin-right: 70vw;
    padding: 0;
    margin-top: 0.5vw;
   
    
}



footer div ul li img {
    width: 80%;
    height: 80%;
  
}


#button{
    text-align: center;
    background-color: #022F40;
    color: white;
    border-radius: 5px;
    border-color:  lightslategray;
}
#button:hover{
    background-color: #3fc1f0;
    color: black;
}


/* *{
    margin: 0 auto;
}

section{
    --main-bg-color: #82DEB0;
    --menubar-login-button-color: #022F40;
    --footer-color: #3fc1f0;
    --input-label-color: #F4D35E;
}

body {
    height: 100vh;
    width: 100vw;
}

#root{
    background-color: #82DEB0;
    height: 100vh;
    width: 100vw;
    padding: 0%;
    margin: 0%;
}

.menu{
    height: 15vh;
    background-color: #022F40;
    display: flex;
}

#logo {
    height: 15vh;
    border-radius: 100%;
    float: left;
}

.menu-bar {
    float:right;
}
 */