
body {
    background-color: #82DEB0;
    height: auto;
    width: auto;
    padding: 0%;
    margin: 0%;
}

.menu {
    height: 200px;
    width: 100%;
    margin-top: 0px;
    padding-top: 0%;
}

.logo {
    float: left;
    height: 200px;
    width: auto;
}

.menu_bar {
    height: 200px;
    width: auto;
    background-color: #022F40;
}
 .menu .menu_bar ul li {
    float: right;
    list-style-type: none;
    font-size: xx-large;
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 50px;
}

main {
    clear: both;
}

section {
    float: left;
    width: 35%;
    padding-left: 10px;
    margin-left: 30px;
    margin-right: 40px;
}
section h1 {
    font-size: xx-large;
}

p1 {
    font-size: 30px;
}

p2 {
    font-size: 30px;
}

p3 {
    font-size: 30px;
}
.mapa {
    float: left;
    width: 40%;
}
footer {
    clear: both;
    background-color: #022F40;
    float: left;
    width: 100%;
}
footer div ul li {
    list-style-type: none;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.login-container {
    width: 300px;
    margin: auto;
    padding-top: 100px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #F4D35E; /* Kolor tekstu w polach tekstowych */
}

label {
    color: #F4D35E; /* Kolor etykiet */
}

button {
    background-color: #022F40; /* Kolor guzika "Zaloguj się" */
    color: #F4D35E;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}